#
# Zank application setting file [YAML] .
# 
# Seven Du <lovevipdsw@outlook.com>
#

# Debug setting
DEBUG: true

# set to false in production
DISPLAY_ERROR_DETAILS: true
# Allow the web server to send the content-length header
ADD_CONTENT_LENGTH_HEADER: false

# Monolog settings
LOGGER_NAME: zank
LOGGER_LEVEL: 100
LOGGER_PATH: /logs/app.log # 相对于root目录

# Eloquent settings
DB_DRIVER: mysql
DB_PREFIX: medz_

# Eloquent settings for MySQL.
# ----------------------------------
DB_HOST: localhost
DB_PORT: 3306
DB_DATABASE: zank
DB_USERNAME: root
DB_PASSWORD: null
# ----------------------------------

# Eloquent settings for pgsql.
# ----------------------------
# DB_HOST: localhost
# DB_PORT: 3432
# DB_DATABASE: zank
# DB_USERNAME: zank
# DB_PASSWORD: null
# ----------------------------

# Aliyun OSS settings
OSS_ACCESS_KEY_ID: id
OSS_ACCESS_KEY_SECRET: secret
OSS_ENDPOINT: oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET: zank
OSS_SOURCE_URL: http://medz.oss-cn-hangzhou.aliyuncs.com
OSS_SOURCE_SIGN: false
OSS_SIGN_TIMEOUT: 1800
