<script>_17mb_bottom();</script>
<section id="footer">
    <a href="{{ webconfig.weburl }}" target="_blank">电脑版</a>
    <a href="{{ path_for('loginurl') }}">用户登陆</a>
    <a href="{{ path_for('bookcase') }}">我的书架</a>
   <script>_17mb_tj();</script>
</section>