<header id="header" class="header dise">
    <div class="zuo pter" onClick="javascript:history.go(-1);"><i class="fa fa-reply fa-2x"></i></div>
    <div class="zhong">{{infoData.bookInfo.articlename|slice(0, 10)}}</div>
    <div class="you pter" id="showsearch"><i class="fa fa-search fa-2x"></i></div>
    <div class="cc"></div>
    {% include 'global/wapsearch.html.twig' %} 
  <div id="nav" class="top_menu">
    <div class="top_menu_list">
      <a href="/" class="btn item_0" scroll-left="0">首页</a>
      {% for key,jieqiSort in jieqiSorts %}
        <a href="{{ path_for('novelsort', { 'sortid': jieqiSort.sortid ,'page':1}) }}" class="btn item_{{ jieqiSort.sortid }}" scroll-left="0">{{ jieqiSort.shortname|e }}</a>
      {% endfor %} 
  </div>
</div>
</header>