<header id="header1" class="dise">
  <div class="zuo pter" onClick="javascript:history.go(-1);"><i class="fa fa-reply fa-2x"></i></div>
  <div class="zhong pter" onClick="zuoyoufy('{{ path_for('novelinfo', { 'bookid': bookid }) }}');">{{infoData.bookInfo.articlename|slice(0, 10)}}</div>
  <div class="you pter" id="showtool"><i class="fa fa-server fa-2x"></i></div>
  <div class="cc"></div>
</header>
{% include 'global/waptool.html.twig' %} 
{% include 'global/wapfenlei.html.twig' %} 