<nav id="tool" class="nav bk">
  <ul>
      <li><a href="/">返回首页</a></li>
        <li><a href="{{ path_for('usercore') }}?{{random()}}">用户中心</a></li>
        <li><a href="{{ path_for('search') }}" class="cur curfontweight">站内搜索</a></li>
        <li><a href="{{ path_for('linshishujia') }}">临时书架</a></li>
    </ul>
    <div class="cc"></div>
</nav>