<!doctype html>
<html>
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html;charset=gbk" />
<meta name="MobileOptimized" content="240"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-store, no-cache, must-revalidate">
<meta http-equiv="Cache" content="no-cache">
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" type="text/css" href="/css/novel/wap/css.css" />
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/wap.js"></script>
</head>